#debugging files
valgrind-out.txt
full-valgrind-out.txt
out.txt
test.*
a.out

#executables
debug
run
tools/*
a.out

#directories
build
bin
debugging
win_demo
log
.vs

#object and header files
*.o
*.gch

#krita backup files
*~
*-autosave.kra

#vim backup files
*.swp

#demo files
win_demo.zip

#...and these
GPUCache
.atom-dbg.cson
src/vec2d/a.out
