#debugging files
valgrind-out.txt
full-valgrind-out.txt
out.txt

#executables
debug
run

#directories
build
bin
debugging
win_demo

#object and header files
*.o
*.gch

#krita backup files
*~
*-autosave.kra

#demo files
win_demo.zip

#...and this thing
.atom-dbg.cson
